.no-cats-display {
  background-color: #fff5e4;
  text-align: center;
  padding: 1rem 0.5rem;
}

.no-cats-display h2 {
  font-size: 1.5rem;
  color: #850e35;
}

.no-cats-display img {
  width: auto;
  height: 50vh;
  margin-bottom: 1rem;
  border-radius: 40px;
}
