
.results {
    background-color: #fff5e4;
    text-align: center;
    padding: 2rem 0.5rem;
  }
  

.results h2 {
    font-size: 1.5rem;
    color: #850e35;
  }
  
  .results h3 {
    font-size: 1.2rem;
    text-decoration: underline;
    color: #850e35;
    font-weight: 700;
  }

  .result-description {
    line-height: 1.3rem;
    letter-spacing: 0.5px;
    color: #aa4164;
  }
  
  .result-temperament {
    font-style: italic;
    color: #ee6983;
    font-weight: 700;
  }
  .results img {
    width: auto;
    height: 50vh;
    margin-bottom: 1rem;
    border-radius: 40px;
  }