h1 {
    text-align: center;
    color: #850e35;
    background-color: #fff5e4;
    padding: 20px 0;
    margin-top:8rem;
    font-size: 1.3rem;
    line-height: 130%;
    letter-spacing: 1.5px;
    width: 100%;
  }